/********************************************
 * checkIn/chicken.css
*********************************************/
.chickenLayout {
    background-color: #fff3bd;
    min-height: 100vh;
}

/********************************************
 * checkIn/kids/page.js
*********************************************/
.row {
    display: flex;
    gap: 5px;
}

.box {
    flex: 1;
    height: 200px;
    display: flex;
    justify-content: center;
    /* center horizontally */
    align-items: center;
    /* center vertically */
    border: 5px solid black;
}

.myCenterX {
    display: flex;
    justify-content: center;
    /* horizontal center */
}

.myCenterY {
    align-items: center;
    /* vertical center */
    height: 100vh;
    /* fill viewport height */
}


input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* This is probably when a phone opens the webpage */
@media only screen and (max-width: 590px) {

    /********************************************
     * checkIn/kids/page.js
    *********************************************/
    .row {
        /* this makes it so that its sortof in the middle of the screen*/
        margin-top: 5rem;

        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .box {
        padding: 5rem;
    }


}


/* some other pastel colors to keep just in case
 * FFC2C2 red 
 * FFD9C0 orange
 * FFF3BD yellow
 * FFFAE6 white-ish?
 * D9FCD9 green
 * B4F2F1 blue
 * E2C5E5 purple
 */