/********************************************
 * kids/chicken.css
*********************************************/

.chickenLayout {
    background-color: rgb(251, 255, 178);
    /* min-height: auto; */
    min-height: 100vh;
}

/* This makes it so that divs are side by side */
.row {
    display: flex;
}

.box {
    flex: 1;
    height: 200px;
    display: flex;
    justify-content: center;
    /* center horizontally */
    align-items: center;
    /* center vertically */
    border: 5px solid black;
}

.myCenterX {
    display: flex;
    justify-content: center;
    /* horizontal center */
}

.myCenterY {
    align-items: center;
    /* vertical center */
    height: 100vh;
    /* fill viewport height */
}


input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */